[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pipenv-setup = "*"
twine = "*"

[packages]
requests = "*"
beautifulsoup4 = "*"
lxml = "*"
python-dateutil = "*"
jdatetime = "*"
schedule = "*"

[requires]
python_version = "3.8"

[scripts]
sync = "pipenv-setup sync --dev"
build = "python setup.py sdist bdist_wheel"
publish = "twine upload dist/*"
clean = "rm -r dist build tsetmc_api.egg-info \"./*.egg-info\""
